body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}

.missile-link {
    font-size: xx-large;
    text-align: center;
    padding: 20px;
    margin: auto;
    display: table;
}

#real-alert {
    color: red;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    border: 5px solid red;
}

#test-only {
    color: mediumblue;
    background-color: lightblue;
    border: 5px solid mediumblue;
}