body {
    color: #002863;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: bold;
    background-image: linear-gradient(to top, #3294ff, #379cff, #40a4ff,
        #4aacff, #56b3ff, #62b9ff, #6dc0ff, #79c6ff, #86ccff, #94d3ff, #a1d9ff, #aedfff);
}

h1 {
    text-align: center;
}

.jumbotron {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #3294ff;
    font-size: xx-large;
    font-weight: bolder;
    font-variant: small-caps;
    border: 3px dashed #004586;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-check {
    padding: 10px;
    margin: 10px;
}
